@import url("./reset.css");

@font-face {
    font-family: "alata";
    src: url("../font/Alata-Regular.ttf");
}

@font-face {
    font-family: "josefin";
    src: url("../font/JosefinSans-VariableFont_wght.ttf");
}

* {
    font-family: "alata";
    font-weight: 400;
    font-size: 15px;
}

body {
    --color_white: hsl(0, 0%, 100%);
    --color_black: hsl(0, 0%, 0%);
    --color_darkgray: hsl(0, 0%, 55%);
    --color_verydarkgray: hsl(0, 0%, 41%);
}

header {
    background-image: url("../img/mobile/image-hero.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    padding-top: 3rem;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* Menu bar */

.menuContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5rem;
    align-items: center;
}

nav {
    position: relative;
}

nav ul {
    display: none;
    position: absolute;
    background-color: var(--color_black);
    color: var(--color_white);
    top: 100%;
    right: 0;
    padding: 2rem 5rem 1rem 1rem;
}

nav ul li {
    padding-bottom: 0.4rem;
}

nav ul li:hover {
    cursor: pointer;
    padding-bottom: 0.2rem;
    border-bottom: 0.2rem solid var(--color_white);
}

nav input,
nav label {
    display: block;
}

header #openmenu {
    display: none;
}

header .menu input[type="checkbox"]:checked~ul {
    display: block;

    img {
        content: url("../img/icon-close.svg");
    }

}

header .menu input[type="checkbox"]~ul {
    display: none;
}

header .menu input[type="checkbox"]~label>img {
    content: url("../img/icon-hamburger.svg");
}

header .menu input[type="checkbox"]:checked~label>img {
    content: url("../img/icon-close.svg");
}

/* Main title section */

.bigtitle {
    position: absolute;
    color: var(--color_white);
    border: 0.2rem solid var(--color_white);
    padding: 2rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.bigtitle h1 {
    font-size: 3.5rem;
    font-weight: 300;
    text-transform: uppercase;
    font-family: "josefin";
}

/* main section */

.head {
    margin-top: 8em;
}

.head .chapter {
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

.head .chapter h2 {
    font-family: "josefin";
    font-size: 2rem;
    margin: 2rem 0;
    text-transform: uppercase;
}

.head .chapter p {
    line-height: 2rem;
    margin-bottom: 3rem;
}

.cardcontainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
    margin-top: 6rem;
}

.card {
    position: relative;
}

.card div:last-child {
    position: absolute;
    font-size: 2rem;
    color: var(--color_white);
    width: calc(100% - 3rem);
    left: 1.5rem;
    bottom: 1.5rem;
    text-transform: uppercase;
    font-family: "josefin";
    font-weight: 300;
}

.card:hover div:first-child {
    filter: brightness(1.5) grayscale(1.0) contrast(0.3) sepia(1.0);
}

.card:hover div:last-child {
    color: var(--color_black);
    font-weight: 400;
}

.creations {
    position: relative;
}

.creations h2 {
    text-align: left;
    position: absolute;
    top: 0px;
}

.creations h2 {
    font-size: 2rem;
    font-family: "josefin";
    font-weight: 300;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
}

.create {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 6rem;
}

/* Footer section */

footer {
    padding-top: 3rem;
    background-color: var(--color_black);
    color: var(--color_white);
}

.footerContainer .leftside .logo {
    margin-bottom: 2rem;
}

.footerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footerContainer .rightside {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footerContainer .leftside ul {
    text-align: center;
    margin-bottom: 2rem;
}

.footerContainer .leftside ul li {
    padding-bottom: 0.4rem;
}

.footerContainer .leftside ul li:hover {
    cursor: pointer;
    padding-bottom: 0.2rem;
    border-bottom: 0.2rem solid var(--color_white);
}

.footerContainer .socialnetworks {
    display: flex;
    gap: 1rem;
}

.footerContainer .socialnetworks div {
    padding-bottom: 0.5rem;
    border-bottom: 0.2rem solid var(--color_black);
}

.footerContainer .socialnetworks div:hover {
    border-bottom: 0.2rem solid white;
    cursor: pointer;
}

.footerContainer .copyright {
    color: var(--color_darkgray);
    margin: 2rem 0;
}

button {
    position: relative;
    padding: 0.8rem 3rem;
    background-color: var(--color_white);
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    z-index: 1;
}

button:hover {
    background-color: var(--color_black);
    color: var(--color_white);
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    nav ul {
        position: unset;
        display: flex;
        gap: 1rem;
        background-color: unset;
        padding: unset;
    }

    header .menu input[type="checkbox"]~ul {
        display: flex;
    }

    nav input,
    nav label {
        display: none;
    }

    .bigtitle {
        width: 60%;
        left: unset;
        transform: translate(0, -50%);
    }

    .head {
        position: relative;
        margin-bottom: 20rem;
    }

    .head div:first-child {
        width: 60%;
    }

    .head .chapter {
        width: 60%;
        right: 0px;
        position: absolute;
        right: 0px;
        top: 50%;
        background-color: var(--color_white);
        padding-top: 2rem;
        padding-left: 5rem;
    }

    .head .chapter p,
    .head .chapter h2 {
        text-align: left;
    }

    .head .chapter p {
        margin-bottom: 0;
    }

    .create {
        flex-direction: column;
        align-items: flex-end;
    }

    .creations h2 {
        text-align: left;
    }

    .cardcontainer {
        flex-direction: row;
        flex-wrap: wrap;
        padding-top: 0;
    }

    .cardcontainer .card {
        width: 23%;
    }

    .card:nth-child(1) img {
        content: url("../img/desktop/image-deep-earth.jpg");
    }

    .card:nth-child(2) img {
        content: url("../img/desktop/image-night-arcade.jpg");
    }

    .card:nth-child(3) img {
        content: url("../img/desktop/image-soccer-team.jpg");
    }

    .card:nth-child(4) img {
        content: url("../img/desktop/image-grid.jpg");
    }

    .card:nth-child(5) img {
        content: url("../img/desktop/image-from-above.jpg");
    }

    .card:nth-child(6) img {
        content: url("../img/desktop/image-pocket-borealis.jpg");
    }

    .card:nth-child(7) img {
        content: url("../img/desktop/image-curiosity.jpg");
    }

    .card:nth-child(8) img {
        content: url("../img/desktop/image-fisheye.jpg");
    }

    .card div:first-child {
        font-size: 1.6rem;
    }

    .footerContainer {
        padding-bottom: 5rem;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }

    .footerContainer .leftside,
    .footerContainer .rightside {
        height: 5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .footerContainer .leftside {
        align-items: flex-start;
    }

    .footerContainer .rightside {
        align-items: flex-end;
    }

    .footerContainer .leftside .logo {
        margin-bottom: 0;
    }

    .footerContainer .leftside ul {
        display: flex;
        gap: 1rem;
        margin-bottom: 0;
    }

    .footerContainer .rightside .copyright {
        margin: 0;
    }
}